.navbar {
  height: var(--navbar-height);
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  flex-direction: row;
  gap: var(--spacing-1);
  padding: 0 var(--spacing-2);
  background-color: var(--color-black);
}

.navbar__item {
  all: unset;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 var(--spacing-1);
  color: var(--color-white);
  cursor: pointer;
}

.navbar__item a {
  display: flex;
  align-items: center;
  gap: var(--spacing-1);
}

.navbar__item--active {
  color: var(--color-primary);
  cursor: default;
  user-select: none;
}
