.swiper {
  max-height: calc(100vh - var(--navbar-height));
  overflow: auto;
  display: flex;
  flex-flow: row nowrap;
  scroll-snap-type: x mandatory;
}

/* Hide horyzontal scrollbar. */
.swiper::-webkit-scrollbar {
  display: none;
}
.swiper {
  overscroll-behavior: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.swiper__slide {
  scroll-snap-align: center;
  min-width: 100%;
  overflow: auto;
}
